.login-container {
  height: 700px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 500px;
  background-color: #fff;
  padding-top: 20px !important;
}

.login-item {
  width: 400px;
}

.login-form-button {
  margin-left: 133px;
}

h1 {
  color: #096dd9;
  text-align: center;
}
